# INSTALLING LIBRARIES

In [5]:
!pip install psycopg2
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2 in /home/bb001/.local/lib/python3.10/site-packages (2.9.5)

[notice] A new release of pip is available: 23.0 -> 23.2.1
[notice] To update, run: python3 -m pip install --upgrade pip
Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.0.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 8.1 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01m
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: tzdata>=2022.1 in /home/bb001/.local/lib/python3.10/site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/bb001/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /usr/lib/python3/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-2.0.3

[notice] A new release of pip is available: 23.0 -> 23.2.1
[notice] To update, run: python3 -m pip install --upgrade pip

In [2]:
import pandas as pd
import psycopg2

In [67]:
df =pd.read_csv('db_records.csv')
df.head()

,Name,Father Name,Last Name,ITS,Contact,Email,TYPE,RANK,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Adam,Abid,Diwan,50432468,923151115512,NaN,Scouts,Boy Scout Leader,NaN,NaN,NaN
1,Abbas,Shabbir,Terai,40463389,923351522153,NaN,Scouts,Senior Patrol Leader,NaN,NaN,NaN
2,Abdul Qader,Hatim,Ujjainwala,50436952,923310385353,NaN,Scouts,Patrol Leader,NaN,NaN,NaN
3,Abdullah,Abid,Diwan,40466810,923232803623,NaN,Scouts,Patrol Leader,NaN,NaN,NaN
4,Aliasghar,Shabbir,Burhanpurwala,40496495,923170803803,NaN,Scouts,Patrol Leader,NaN,NaN,NaN

In [68]:
columns = df.columns[0:8]
newDf = df[columns]

In [69]:
conn = psycopg2.connect(
    host="localhost",
    database="attendance",
    user="bssg",
    password="div3")
cur = conn.cursor()
query = "INSERT INTO members (name,father_name,last_name,its,contact,type,rank) VALUES (%s,%s,%s,%s,%s,%s,%s);"
for i in range(30):
    if not pd.isna(newDf.loc[i,'Name']) and not i == 0:
        try:
            cur.execute(query,(newDf.loc[i, "Name"],newDf.loc[i, "Father Name"],newDf.loc[i, "Last Name"],int(newDf.loc[i, "ITS"]),newDf.loc[i, "Contact"],newDf.loc[i, "TYPE"],newDf.loc[i, "RANK"]))
        except Exception as e:
            print(newDf.loc[i, "Contact"])
conn.commit()
conn.close()

In [40]:
conn = psycopg2.connect(
    host="localhost",
    database="attendance",
    user="bssg",
    password="div3")
cur = conn.cursor()
cur.execute('Select * from members')
rows = cur.fetchone()
conn.commit()
conn.close()
for row in rows:
    print(row)

1
Adam
50432468
923151115512
adamabid521@gmail.com
Scouts
Boy Scout Leader
Abid
Diwan