# INSTALLING LIBRARIES

In [1]:
!pip install psycopg2
!pip install pandas

Collecting psycopg2
  Downloading psycopg2-2.9.7-cp311-cp311-win_amd64.whl (1.2 MB)
                                              0.0/1.2 MB ? eta -:--:--
     --                                       0.1/1.2 MB 4.5 MB/s eta 0:00:01
     -------                                  0.2/1.2 MB 3.5 MB/s eta 0:00:01
     ------------                             0.4/1.2 MB 2.9 MB/s eta 0:00:01
     -------------------                      0.6/1.2 MB 3.3 MB/s eta 0:00:01
     ------------------------                 0.7/1.2 MB 3.4 MB/s eta 0:00:01
     ------------------------------           0.9/1.2 MB 3.7 MB/s eta 0:00:01
     ------------------------------           0.9/1.2 MB 3.7 MB/s eta 0:00:01
     ------------------------------           0.9/1.2 MB 3.7 MB/s eta 0:00:01
     ------------------------------           0.9/1.2 MB 3.7 MB/s eta 0:00:01
     -------------------------------------    1.1/1.2 MB 2.6 MB/s eta 0:00:01
     ---------------------------------------- 1.2/1.2 MB 2.4 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.7
Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd
import psycopg2

In [3]:
df =pd.read_csv('db_records.csv')
df.head()

,Name,Father Name,Last Name,ITS,Contact,Email,TYPE,RANK,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Adam,Abid,Diwan,50432468,923151115512,NaN,Scouts,Boy Scout Leader,NaN,NaN,NaN
1,Abbas,Shabbir,Terai,40463389,923351522153,NaN,Scouts,Senior Patrol Leader,NaN,NaN,NaN
2,Abdul Qader,Hatim,Ujjainwala,50436952,923310385353,NaN,Scouts,Patrol Leader,NaN,NaN,NaN
3,Abdullah,Abid,Diwan,40466810,923232803623,NaN,Scouts,Patrol Leader,NaN,NaN,NaN
4,Aliasghar,Shabbir,Burhanpurwala,40496495,923170803803,NaN,Scouts,Patrol Leader,NaN,NaN,NaN

In [4]:
columns = df.columns[0:8]
newDf = df[columns]

In [6]:
conn = psycopg2.connect(
    host="localhost",
    database="attendance",
    user="bssg",
    password="admin")
cur = conn.cursor()
query = "INSERT INTO members (name,father_name,last_name,its,contact,type,rank) VALUES (%s,%s,%s,%s,%s,%s,%s);"
for i in range(30):
    if not pd.isna(newDf.loc[i,'Name']):
        try:
            cur.execute(query,(newDf.loc[i, "Name"],newDf.loc[i, "Father Name"],newDf.loc[i, "Last Name"],int(newDf.loc[i, "ITS"]),newDf.loc[i, "Contact"],newDf.loc[i, "TYPE"],newDf.loc[i, "RANK"]))
        except Exception as e:
            print(newDf.loc[i, "Contact"])
conn.commit()
conn.close()

In [8]:
conn = psycopg2.connect(
    host="localhost",
    database="attendance",
    user="bssg",
    password="admin")
cur = conn.cursor()
cur.execute('Select * from members')
rows = cur.fetchone()
conn.commit()
conn.close()
for row in rows:
    print(row)

1
Adam
50432468
923151115512
None
Scouts
Boy Scout Leader
Abid
Diwan
False